{% extends 'layout/basic.html' %}
{% load django_bootstrap5 %}
{% block title %}Гра {{ game.pk }}{% endblock %}
{% block content %}
<p><span class="fw-bold">
    Місце:
    </span>
    {{ game.place }}
</p>
<p><span class="fw-bold">
    Дата:
    </span>
    {{ game.starts_at|date:"d.m.Y" }}
</p>
<p><span class="fw-bold">
    Час:
    </span>
    {{ game.starts_at|date:"H:i" }}
</p>
<p><span class="fw-bold">
    Організатор:
    </span>
    <a href="{% url 'main:player' pk=game.organizer.pk %}" class="text-decoration-none">{{ game.organizer }}</a>
</p>
<h2>Гравці</h2>
<div class="list-group">
    {% for player in game.players.all %}
    <div class="col-md-6 col-lg-2 mb-2">
        {% include "main/player_card.html" %}
    </div>
    {% endfor %}
</div>
<div>
    {% if game.organizer.pk == user.pk %}
    <a class="btn btn-primary" href="{% url 'main:game_edit' pk=game.pk %}">
        Змінити дані
    </a>
    {% endif %}
    <a class="btn btn-success" href="{% url 'main:game_teams' pk=game.pk %}">
        Розподілити на команди
    </a>
</div>

{% endblock %}