{% extends 'layout/basic.html' %}
{% load django_bootstrap5 %}
{% block title %}Гра {{ game.pk }}{% endblock %}
{% block content %}
<h2>Game ID: {{ game.pk }}</h2>
<p>Місце: {{ game.place }}</p>
<p>Час: {{ game.starts_at }}</p>
<h2>Гравці</h2>
<div class="list-group">
    {% for player in game.players.all %}
        {% include "main/player_card.html" %}
    {% endfor %}
</div>
<div>
    {% if game.organizer.pk == user.pk %}
    <a class="btn btn-primary" href="{% url 'main:game_edit' pk=game.pk %}">
        Змінити дані
    </a>
    {% endif %}
    <a class="btn btn-success" href="{% url 'main:game_teams' pk=game.pk %}">
        Розподілити на команди
    </a>
</div>

{% endblock %}