{% extends 'layout/basic.html' %}
{% load django_bootstrap5 %}
{% block title %}Профіль користувача{% endblock %}
{% block content %}

<body class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <div class="dropdown-menu">
                    <a class="nav-link" href="{% url 'main:profile_edit' %}">Змінити особисті дані</a>
                    <a class="nav-link" href="{% url 'main:profile_edit' %}">Змінити пароль</a>
                    <a class="nav-link" href="{% url 'main:logout' %}">Вийти</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
    
<h2>Профіль користувача {{ user.username }}</h2>
<p>ID: {{ user.pk }}</p>
<p>Ім'я: {{ user.first_name }}</p>
<p>Прізвище: {{ user.last_name }}</p>
<img src="{{ user.avatar.url }}" class="rounded-circle me-3" width="200" height="200">
{% endblock %}

