{% extends 'layout/basic.html' %}
{% load django_bootstrap5 %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}

<body class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <div class="dropdown-menu">
                    <a class="nav-link" href="{% url 'main:profile_edit' %}">Змінити особисті дані</a>
                    <a class="nav-link" href="{% url 'main:profile_edit' %}">Змінити пароль</a>
                    <a class="nav-link" href="{% url 'main:logout' %}">Вийти</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
    
    <h2>Профиль пользователя {{ user.username }}</h2>
    <p>ID: {{ user.pk }}</p>
    {% if user.first_name and user.last_name %}
        <p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
    {% else %}
        <p>Здравствуйте!</p>
    {% endif %}
{% if user.avatar %}
    <img src="{{ user.avatar.url }}" width="200" height="200">
{% else %}
    <img src="/media/avatars/default.png" width="200" height="200">
{% endif %}
{% endblock %}

