<a href="{% url 'main:game_detail' pk=game.pk %}" class="list-group-item list-group-item-action">

    <div class="d-flex justify-content-between align-items-center">

        <div>
            <div class="fw-semibold">
                ⚽ {{ game.place|default:"Без локації" }}
            </div>

            <small class="text-muted d-block">
                {{ game.city }}
                {% if game.starts_at %}
                    · {{ game.starts_at|date:"d.m.Y H:i" }}
                {% endif %}
            </small>

            {% if game.organizer %}
            <small class="text-muted">
                Організатор:
                {{ game.organizer.username }}
            </small>
            {% endif %}
        </div>

        <div class="text-end">
            <div>
                👥 {{ game.players_count|default:game.players.count }}/{{ game.max_players }}
            </div>

            <small class="text-muted">
                {{ game.teams_num }} команди
            </small>
        </div>

    </div>

</a>