{% extends 'layout/basic.html' %}

{% block content %}
{% if future_games %}
<h1>Заплановані ігри</h1>
<div class="list-group mb-5 col-lg-4">
    {% for game in future_games %}
    {% include "main/game_card.html" %}
    {% endfor %}
</div>
{% else %}
<h1>Заплановані ігри: 0</h1>
{% endif %}
{% if last_games %}
<h1>Зіграні ігри</h1>
<div class="list-group col-lg-4">
    {% for game in last_games %}
    {% include "main/game_card.html" %}
    {% endfor %}
</div>
{% else %}
<h1>Зіграні ігри: 0</h1>
{% endif %}
{% endblock %}
