{% extends 'layout/basic.html' %}

{% block content %}
<div class="mb-5">
{% if future_games %}
<h1>Заплановані ігри</h1>
<div class="list-group mb-5">
    {% for game in future_games %}
    <div class="mb-2" style="max-width:700px;">
    {% include "main/game_card.html" %}
    </div>
    {% endfor %}
</div>
{% else %}
<h1>Заплановані ігри: 0</h1>
{% endif %}
</div>
{% if last_games %}
<h1>Зіграні ігри</h1>
<div class="list-group">
    {% for game in last_games %}
    <div class="mb-2 w-100" style="max-width:700px;">
    {% include "main/game_card.html" %}
    </div>
    {% endfor %}
</div>
{% else %}
<h1>Зіграні ігри: 0</h1>
{% endif %}
{% endblock %}
